# Dependency directories
node_modules/
.htaccess
.well-known
# Logs and databases
*.log
*.sqlite
output.mov
output1.mov
output2.mov
output3.mov
output4.mov
output5.mov
combined_audio.mp3
audio/
__pycache__/
frames/
frames1/
frames2/
frames3/
frames4/
frames5/
# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
out/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
.DS_Store
Thumbs.db
